# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Android
android/.gradle/
android/local.properties
android/app/key.properties
**/*.jks
**/*.keystore

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Desktop generated
windows/flutter/generated_plugins.cmake
windows/flutter/generated_package_config.cmake
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.gni

# Env
.env
.env.*.local

# OS / Temp
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*~
